.main .container{
    display: flex;


    
    
}

.main .container .left{
    flex: 1;
    padding-top: 10vh;

  
    margin: 4vh 2vh;
}
.main .container .left .top{

    transform: rotateZ(-8deg);
margin-top: 10vh;
margin-left: 10vh;
height:70vh;
width: 80%;
padding: 3vh;
background-color: rgba(255, 255, 255, 0.041);

}
.main .container .left .bottom{

    margin-top: 6vh;
    margin-bottom: 8vh;
    height: 11vh;
    width: 90%;
 
padding-left:12vh;
}
.main .container .left .bottom .line{
    height: 2px;
    background-color: white;
    width: 80%;
margin-left: 1.5vh;
opacity: 0.2;
margin-top: 2vh;

}
.main .container .left .bottom .icons{
    display: flex;
    flex-wrap: wrap;
}

.main .container .left .bottom .icons .icon_container:hover .icon_title{
visibility: visible;
}
.main .container .left .bottom .icons .icon_container .icon{

   cursor: pointer;
    }
.main .container .left .bottom .icons .icon_container{
display: flex;
flex-direction: column;
transition: all 0.5 ease;

}
.main .container .left .bottom .icons .icon_container .icon_title{
    background-color: rgba(255, 255, 255, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    opacity: 0.6;
   visibility: hidden;
}

.main .container .left .top .headings{
   color: white;
    transform: rotateZ(8deg);
    margin-top: 100px;
    margin-left: 80px;
}
.main .container .left .top .headings .heading1{
font-size: 6.5vh;
display: inline-block;

}


.main .container .left .top .headings .heading2{
    display: flex;
    align-items: end;
    justify-content: start;
    position: relative;
    font-size: 5.5vh;
    }
    .main .container .left .top .headings .heading2 .line{
       height: 3px;
       background-color: white;
       width: 17vh;
       position: absolute;
       top: 0;
       left: -4.5vh;
       bottom: -0.5vh;
       margin: auto;
        }
        .main .container .left .top .headings .small_headings div{
         font-size: 14px;
         color: rgba(255, 255, 255, 0.432);
             }

.main .container .left .top .button{
    width: 30vh;
    height: 6vh;
    
    background-color: black;
    transform: rotateZ(8deg);
    margin-left: 7.5vh;
    margin-top: 5vh;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-left: 30px;
   padding-right: 10px;

}
.main .container .left .top .button .arrow {
    display: flex;
    align-items: center;
}
.main .container .left .top .button .arrow img{
    width: 10px;
    height: 10px;
    filter: invert(100%);
}
.main .container .left .top .button .text{
    font-size: 12px;
}
.main .container .right{
    flex: 1;
}



.main .container .right{


height: 100vh;
margin-top:16vh;
margin-left:7vh;
margin-right: 7vh;
border-radius: 15%;
overflow: hidden;
position: relative;
background-color:#050D1B;
}
.main .container .right .bottom_banner1{
    width: 100%;
    height: 22vh;
    background-color: #050d1b54;
    position: absolute;
    transform: rotateZ(30deg);
    z-index: 999;
    bottom: -15vh;
    left: -30vh;
    right: 0;
    margin: auto;
}
.main .container .right .bottom_banner2{
    width: 100%;
    height: 22vh;
    background-color: #050d1b54;
    position: absolute;
    transform: rotateZ(30deg);
    z-index: 999;
    top: -15vh;
    right: -30vh;
    left: 0;
    margin: auto;
}

.main .container .right img{
    filter: saturate(0);
    filter: brightness(-10);
    filter: contrast(-10);
    object-fit: cover;
    height: 100vh;
    opacity:0.8;
    filter: grayscale(100);
    
}



@media screen and (max-width: 480px) {
    .main .container{
        flex-direction: column-reverse;
align-items: center;
    }
    .main .container .right img{
        height:230px;
        
        object-fit: cover;
        border-radius: 50%;
        margin: 0;
    }
    .main .container .right {
        height: 230px;
        width: 230px;
        padding: 0;
        margin-top: 18vh;
      display: flex;
      justify-content: center;
      align-items: center;
        margin-bottom: 0px;
        border-radius: 50%;
    }
    .main .container .left {
        display: flex;
        flex-direction: column;
        align-items: center;
       justify-content: center;
       width: 100%;
       padding-top: 0px;
    }
    .main .container .left .top{
        height: fit-content;
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin-left: 0px;
        padding: 5px;
        width:80vw;
    margin-top: 5px;
  

    }
    .main .container .left .top .headings {
        margin-top: 50px;

        display: flex;
        flex-direction: column;
       margin-left: 40px;
        padding-right:5px;
    }
    .main .container .left .top .headings .heading1 {

        font-size:28px;
       
    }
    .main .container .left .top .button {
        width: 20vh;
        margin-top: 20px;
        height: 40px;
        margin-bottom: 30px;
        margin-left: 25px;
    }
    .main .container .left .top .headings .heading2 {
        font-size: 24px;
    }
    .main .container .left .top .headings .heading2 .line {
    
        width: 75px;
        left: -20px;
        bottom: 2px;
    }


    .main .container .left .bottom {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        width: 100%;
    margin: 0px;
    height: fit-content;
    margin-top: 50px;

    margin-right: 0px;
    padding: 0px;
    }
    .main .container .left .bottom .icons {
    
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding-left: 2px;
        padding-right: 2px;
    }
    .main .container .left .bottom .icons .icon{

        margin-top: 0;
        margin-left: 0px;

    }
   
    .main .container .right .bottom_banner2{
        visibility: hidden;
    }
    .main .container .right .bottom_banner1{
        bottom: -8vh;
        left: -15vh;
    }
}